
body {background-color:#ff48c4;}


.flavour{color:#2bd1fc;}
.swiss-miss{color:#f3ea5f;}
.electric-feel {color:#ff3f3f;}
.jazz{color:#c04df9	;}
 
.fon{font-family:'Times New Roman', Times, serif}